<a href="https://colab.research.google.com/github/SUSREE64/Python-Coding-Snippets/blob/master/Python_Snippets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## This is a python coding snipptes reference work

In [ ]:
# Just to print  "Hello World"
greeting = "Hello World"
print(greeting)

Hello World

In [ ]:
# Another way of printing 
name = "sree"
greeting = f"Hello, {name}"
print(greeting)

Hello, sree

In [ ]:
# Simple arithmetic
a = 10
b = 20
print("Sum", a+b)
print("difference", abs(a-b))
print( "division a/b", a/b)
print("multiplication a*b", a*b)
print("Modulo operation of a, b", a%b)
print( "Square of a", a**2)
print("Square root of a", a**0.5)

Sum 30
difference 10
division a/b 0.5
multiplication a*b 200
Modulo operation of a, b 10
Square of a 100
Square root of a 3.1622776601683795

In [ ]:
# Another way of printing longer phrases with format function
longer_phrase = "Hello, {}. Greetings for the {}"
name = "sree"; event = "Birthday"
formatted = longer_phrase.format(name, event)
print(formatted)

Hello, sree. Greetings for the Birthday

In [ ]:
# Data types
output = "The varible is, {} is of  {} type"
value = 10
print(output.format(value, type(value)))
value = 2.3
print(output.format(value, type(value)))
value = "sree"
print(output.format(value, type(value)))

The varible is, 10 is of  <class 'int'> type
The varible is, 2.3 is of  <class 'float'> type
The varible is, sree is of  <class 'str'> type

### Lists

In [ ]:
# Lists are collection of dissimilar items
lst = ['sree', 'gita', 'Jesus', 10, 30]
print("List when printed looks like this", lst)
# You can add elements to lists
lst.append("Added")
print('after adding element', lst)
# you can remove an element from list
lst.remove(10)
print("After removing the elenent 10", lst)
# We can insert new elements in a list at an Index
lst.insert(2, "SecondIndex")
print("After inserting the element at 2nd Indix", lst)
# We can get the index of an element from a list
# suppose we want to get the index of 'Jesus' element
print("The index of element Jesus is ", lst.index("Jesus"))

List when printed looks like this ['sree', 'gita', 'Jesus', 10, 30]
after adding element ['sree', 'gita', 'Jesus', 10, 30, 'Added']
After removing the elenent 10 ['sree', 'gita', 'Jesus', 30, 'Added']
After inserting the element at 2nd Indix ['sree', 'gita', 'SecondIndex', 'Jesus', 30, 'Added']
 the index of Jesus is  3

In [ ]:
# Sorting a numbers list
numlst = [23, 43, 7, 8, 9, 10]
numlst.sort()
print("The sorted list is ", numlst)

The sorted list is  [7, 8, 9, 10, 23, 43]

In [ ]:
# Sorting with deceding order 
numlst = [2,3,56,1, 0, -10, 56]
numlst.sort(reverse = True)
print("Sorted list with decending order ", numlst)

Sorted list with decending order  [56, 56, 3, 2, 1, 0, -10]

In [ ]:
# Reversing a list 
numlst = [2,3,10, 'sree', 'hello']
numlst.reverse()
print("Reversed list is ", numlst)

Reversed list is  ['hello', 'sree', 10, 3, 2]

In [ ]:
## List indexing 
lst = [1,2,3,5,8,10, 32]
print("From index 2, to 3 list elements ", lst[2:4])
print(" Last element of the list is", lst[-1])
print(" last to start (reverse) ", lst[::-1])
print("From idex 2 to all rest", lst[2:])

From index 2, to 3 list elements  [3, 5]
 Last element of the list is 32
 last to start (reverse)  [32, 10, 8, 5, 3, 2, 1]
From idex 2 to all rest [3, 5, 8, 10, 32]

In [ ]:
# addressing element by element 
lst = [2,3,4,4,5,6,89, 90, 32]
for item in lst:
  print("item is ", item)

item is  2
item is  3
item is  4
item is  4
item is  5
item is  6
item is  89
item is  90
item is  32

In [ ]:
# count of an element in a list
lst = [1,2,3,2,2,2,5,6,7,10]
print("The count of 2 in list",lst.count(2))

The count of 2 in list 4

In [ ]:
# Removing an element at a index 
lst = ['sr', 'jr', 'hi', 1, 2]
print("Remove the item at index 2 ", lst.pop(2))
print("After removing the items at 2 ",lst)

Remove the item at index 2  hi
After removing the items at 2  ['sr', 'jr', 1, 2]

In [ ]:
# Extending the lists 
list1 = [1,2,3,4,5,6,7]
list2 = [34,5,6,7]
list1.extend(list2)
print("Extended list ,", list1)

Extended list , [1, 2, 3, 4, 5, 6, 7, 34, 5, 6, 7]

In [ ]:
# list shallow copying 
lst = ['a', 'b', 'c','d']
lstcopy = lst
print("Copied list", lstcopy)
# if we change the lst by adding any element, lstcopy also changes as this is a shallow copy
lst.append('m')
print("Original list", lst)
print("shallow copy", lstcopy)

Copied list ['a', 'b', 'c', 'd']
Original list ['a', 'b', 'c', 'd', 'm']
shallow copy ['a', 'b', 'c', 'd', 'm']

In [ ]:
# Deep copy of the list
lst = [1,1,2,3,3,3,5]
lstDeepcopy = list.copy(lst)
# now change the lst
lst.append("new")
print("Original list ", lst)
print("Deep copy ", lstDeepcopy)

Original list  [1, 1, 2, 3, 3, 3, 5, 'new']
Deep copy  [1, 1, 2, 3, 3, 3, 5]

## Sets

In [ ]:
# a set is a collection of dissimilar elements.
# a set can not have duplicate elements
# a set is denoted by {} curly brackets
set1 = {1,2,3,'1', '2', 3}
print(set1)

{1, 2, 3, '2', '1'}

In [ ]:
# You can see tha eventhough we initialized 3 two times, the result has only one 3

### Set Operations

In [ ]:
set1 = {1,2,3,6,7}
set2 = {1,2,3,10, 11, 12}
# Adding an element to set1
set1.add("Newly added")
print("After adding an element. ", set1)
# Removing an element from a set1
set1.remove(2)
print("After Removing the element 2", set1)

After adding an element.  {1, 2, 3, 6, 7, 'Newly added'}
After Removing the element 2 {1, 3, 6, 7, 'Newly added'}

3.6.9